<!DOCTYPE html>
<html>
<head>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
  <title>Game Over</title>
</head>
<body>
  <div class="container">
    <h1>@Model.GetName() has Died :[</h1>
    <img class="mj" src='~/img/mj.gif'/>
    <p><a href="/home">...Dare to play again?</a></p>
  </div>
</body>
</html>
