<!DOCTYPE html>
<html>
<head>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
  <title>Hangman</title>
</head>
<body>
  <div class="container">
    <h1>Let's play a game</h1>
    <img class="mj" src='~/img/mj.gif'/>
    <img class="saw" src='~/img/saw.png'/>
<br>
<br>
    <form action="/hangman">
      <div class="form-group">
        <label for="user-name">Enter YOUR name if you DARE!!!</label>
        <input id ="user-name" name="user-name" class ="form-control" type="text">
      </div>
        <button type="submit" name="button">Play!</button>
      </form>
    </div>
  </body>
  </html>
